.main-header {
	padding-top: .8rem;
	
	.logo {
		position: relative;
		width: 155rem / @htmlFontSize;
		height: 162rem / @htmlFontSize;
		margin: 1.125rem 0 0;
		float: left;

		background: no-repeat 0 0;
		background-size: 100% 100%;
		text-indent: -9999rem;

		&.ua {
			background-image: url(../img/sign-ua.png);
		}

		&.ru {
			background-image: url(../img/sign-ru.png);
		}

		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
		}
	}

	.auth {
		float: right;
		margin: 18rem / @htmlFontSize;

		.reg {
			display: inline-block;
			margin: 0 38rem / @htmlFontSize;
		}
		.cab {
			display: none;
			margin: 0 38rem / @htmlFontSize;
		}
		.login {
			display: inline-block;
		}
		.logout {
			display: none;
		}

	}

}

.logged-in {
	.auth {
		.reg {
			display: none;
		}
		.cab {
			display: inline-block;
		}
		.login {
			display: none;
		}
		.logout {
			display: inline-block;
		}
	}
}